GPUTutorial.md

.vscode

**\results
**\__pycache__

*.ipynb
*.txt
*.npy
*.pickle

# **\outputs
# **\en_es_data
**\results
**\data
**\model.bin
**\model.bin.optim
**\.ipynb_checkpoints
**\CS224n-A5-emb2-files


