Assignments/a4/model.bin filter=lfs diff=lfs merge=lfs -text
Assignments/a4/model.bin.optim filter=lfs diff=lfs merge=lfs -text

*.py linguist-language=python
*.md linguist-language=markdown
*.ipynb linguist-language=jupyter notebook
